@media (min-width: 800px)
{
.hero {
    background-color: black;
    height: 80vh;
}

#contact_card {
    background-color: grey;
    height: 50vh;
    width: 55vw;
    margin: auto;
    margin-top: 10vh;
    margin-left: 25vw;
    background: #2c2c2c;
    border-radius: 3vh;
    transition: all ease 0.2s;
    border: 1px solid #333;
    box-shadow: 0px 5px 10px 0px rgba(223, 119, 21, 0.7);
    text-align: center;
}

#contact_card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(223, 119, 21, 0.7);
}


.span1{
    color:orange;
    font-size: 5vh;
    font-weight: bold;
}
 h1
 {      margin: auto;
    color: aqua;
    font-size: 6vh;
    font-weight: bold;

}

span{
    color:orange;
    font-size: 3vh;
    
}
h5{
    margin-top: 4vh;
    color: aqua;
    font-size: 4vh;
    
}

.details{
    color: white;
    font-size: 3vh;
    
}
}
/* Mobile Screen */
@media (max-width: 800px)
{
.hero {
    background-color: black;
    height: 77vh;
}

#contact_card {
    background-color: grey;
    height: 50vh;
    width: 40vw;
    margin: auto;
    margin-top: 10vh;
    margin-left: 0;
    background: #2c2c2c;
    border-radius: 3vh;
    transition: all ease 0.2s;
    border: 1px solid #333;
    box-shadow: 0px 5px 10px 0px rgba(223, 119, 21, 0.7);
    text-align: left;
}

#contact_card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(223, 119, 21, 0.7);
}


.span1{
    color:orange;
    font-size: 3vh;
    font-weight: bold;
}
 h1
 {      margin: auto;
    color: aqua;
    font-size: 2.5vh;
    font-weight: bold;

}

span{
    color:orange;
    font-size: 2.5vh;
    
}
h5{
    margin-top: 4vh;
    color: aqua;
    font-size: 2.5vh;
    
}

.details{
    color: white;
    font-size: 2.5vh;
    
}
}