<div class="hero">
   
    <div class="container-fluid">
        <div class="row">
            <div class="col col-xs-12 col-lg-6 col-md-6" id="contact_card">
                <h1>&#60; <span class="span1">Contact</span> &gt;</h1>
                <h5>&#60; <span>Mobile</span> &gt; <span class="details">+91 8779399624</span> &#60; &#47;<span>Mobile</span> &gt;</h5>
                <h5>&#60; <span>Email</span> &gt; <span class="details">trapti.bairagi1701@gmail.com</span>&#60; &#47;<span>Email</span> &gt;</h5>
                <h5>&#60; <span>Address</span> &gt;<span class="details">Ahmedabad, India</span> &#60; &#47;<span>Address</span> &gt; </h5>
            </div>
        </div>
    </div>
</div>