<footer class="bg-dark">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Social media -->
    <div class="row footrow">
      <div class="col">
        <!-- Git -->
        <a href="#"><img src="../../../assets/git.png" height="50px" width="50px"></a>
      </div>
      <!-- LinkedIn -->
      <div class="col">
        <a href="#"><img src="../../../assets/linkedin.png" height="50px" width="50px"></a>
      </div>
      <div class="col">
        <!-- Gmail -->
        <a href="#"><img src="../../../assets/email.png" height="50px" width="50px"></a>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
  </div>
  <!-- Copyright -->

</footer>