<div class="container-fluid mycont">
    <div class="row myrow">
        <div class="col-md-6 mycol1">
            <h1 class="name">TRAPTI</h1>
            <h1 class="surname">BAIRAGI</h1>
            <h1 class="myshadow">B</h1>
            <p class="ident">Full Stack Developer</p>
            <a href="../../../assets/CV.pdf" download>
                <button class="btn"><i class="fa fa-download"></i> Download CV</button>
            </a>
            
        </div>
        <div class="col-md-6 mycol2">
        <img src="../../../assets/pp.png" class="photo">
        </div>
    </div>
</div>