<div class="container-fluid container-project">
    <h1>&#60; <span class="span1">Projects</span> &gt;</h1>
<!-- Project 1 box and details -->
<div class="container my-container">
    <div class="box" id="box1">
        <a href="#project link"><img scr="project image"></a>
    </div>
    
</div>
<div class="container my-container">
    <div class="project-details">
        Project 1: Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Accusantium, molestiae praesentium maiores quaerat reprehenderit quas
        quae perferendis consequatur pariatur nemo modi eos, adipisci itaque
        repellat! Incidunt unde, aut magnam culpa officiis libero dicta a 
        minus odio, nulla quam deleniti? Similique pariatur id at eos in 
        magni doloribus suscipit corrupti iste nihil nemo quis recusandae
        aliquam atque perspiciatis natus, saepe veniam repellat. Doloremque 
        quas suscipit tempore est, expedita minus accusamus magnam.
    </div>
</div>

<!-- Project 2 box and details -->
<div class="container my-container">
    <div class="box" id="box1">
        <a href="#project link"><img scr="project image"></a>
    </div>
    
</div>
<div class="container my-container">
    <div class="project-details">
        Project 1: Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Accusantium, molestiae praesentium maiores quaerat reprehenderit quas
        quae perferendis consequatur pariatur nemo modi eos, adipisci itaque
        repellat! Incidunt unde, aut magnam culpa officiis libero dicta a 
        minus odio, nulla quam deleniti? Similique pariatur id at eos in 
        magni doloribus suscipit corrupti iste nihil nemo quis recusandae
        aliquam atque perspiciatis natus, saepe veniam repellat. Doloremque 
        quas suscipit tempore est, expedita minus accusamus magnam.
    </div>
</div>

<!-- Project 3 box and details -->
<div class="container my-container">
    <div class="box" id="box1">
        <a href="#project link"><img scr="project image"></a>
    </div>
    
</div>
<div class="container my-container">
    <div class="project-details">
        Project 1: Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Accusantium, molestiae praesentium maiores quaerat reprehenderit quas
        quae perferendis consequatur pariatur nemo modi eos, adipisci itaque
        repellat! Incidunt unde, aut magnam culpa officiis libero dicta a 
        minus odio, nulla quam deleniti? Similique pariatur id at eos in 
        magni doloribus suscipit corrupti iste nihil nemo quis recusandae
        aliquam atque perspiciatis natus, saepe veniam repellat. Doloremque 
        quas suscipit tempore est, expedita minus accusamus magnam.
    </div>
</div>

<!-- Project 4 box and details -->
<div class="container my-container">
    <div class="box" id="box1">
        <a href="#project link"><img scr="project image"></a>
    </div>
    
</div>
<div class="container my-container">
    <div class="project-details">
        Project 1: Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Accusantium, molestiae praesentium maiores quaerat reprehenderit quas
        quae perferendis consequatur pariatur nemo modi eos, adipisci itaque
        repellat! Incidunt unde, aut magnam culpa officiis libero dicta a 
        minus odio, nulla quam deleniti? Similique pariatur id at eos in 
        magni doloribus suscipit corrupti iste nihil nemo quis recusandae
        aliquam atque perspiciatis natus, saepe veniam repellat. Doloremque 
        quas suscipit tempore est, expedita minus accusamus magnam.
    </div>
</div>

<!-- Project 5 box and details -->
<div class="container my-container">
    <div class="box" id="box1">
        <a href="#project link"><img scr="project image"></a>
    </div>
    
</div>
<div class="container my-container">
    <div class="project-details">
        Project 1: Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Accusantium, molestiae praesentium maiores quaerat reprehenderit quas
        quae perferendis consequatur pariatur nemo modi eos, adipisci itaque
        repellat! Incidunt unde, aut magnam culpa officiis libero dicta a 
        minus odio, nulla quam deleniti? Similique pariatur id at eos in 
        magni doloribus suscipit corrupti iste nihil nemo quis recusandae
        aliquam atque perspiciatis natus, saepe veniam repellat. Doloremque 
        quas suscipit tempore est, expedita minus accusamus magnam.
    </div>
</div>

<!-- Project 6 box and details -->
<div class="container my-container">
    <div class="box" id="box1">
        <a href="#project link"><img scr="project image"></a>
    </div>
    
</div>
<div class="container my-container">
    <div class="project-details">
        Project 1: Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Accusantium, molestiae praesentium maiores quaerat reprehenderit quas
        quae perferendis consequatur pariatur nemo modi eos, adipisci itaque
        repellat! Incidunt unde, aut magnam culpa officiis libero dicta a 
        minus odio, nulla quam deleniti? Similique pariatur id at eos in 
        magni doloribus suscipit corrupti iste nihil nemo quis recusandae
        aliquam atque perspiciatis natus, saepe veniam repellat. Doloremque 
        quas suscipit tempore est, expedita minus accusamus magnam.
    </div>
</div>
